<h2>Login</h2>

<form method="POST" action="/sessions/create" class="login">
  <input type="text" name="email" placeholder="email" /><br><br>
  <input type="password" name="password" placeholder="password" /><br><br>
  <input type="submit" value="Login!" class="button" />
</form>

<div class="errors">
  <ul class="error-list">

  </ul>
</div>
