<h2>Sign up!</h2>

<form method="POST" action="/users/create" class="signup">
  <input type="text" name="user[username]" placeholder="username" /><br><br>
  <input type="text" name="user[email]" placeholder="email" /><br><br>
  <input type="password" name="user[password]" placeholder="password" /><br><br>
  <input type="password" name="user[password_confirmation]" placeholder="confirm password" /><br><br>
  <input type="submit" value="Submit!" class="button" />
</form>

<div class="errors">

</div>
